.color-navy {
    color: navy;
}
.color-avianca {
    color: rgb(220,8,20);
}
.color-avianca {
    color: rgb(220,8,20); 
}
.color-limegreen {
    color: #32cd32;
}
.color-platzi {
    color: rgb(18,31,61);
}
.color-platzi-2 {
    color: rgb(191,11,255);
}
.color-ig {
    color: rgb(226,0,60);
    font-weight: bold;
    font-size: 68px;
    font-family: 'Black And White Picture', sans-serif;
}