
.big-font {
    font-size: 50px;
}
.fuente-normal {
    font-weight: 400;
    font-size: 19px;
}
.fuente-negrita {
    font-weight: bold;
    font-size: 19px;
}
.estilo-normal {
    font-style: normal;
    font-size: 19px;
}
.estilo-italico {
    font-style: italic;
    font-weight: 900;
    font-size: 30px;
}
.fuente-sitioweb {
    font-family: 'ZCOOL KuaiLe', cursive;
    color: royalblue;
    font-weight: 600;
    font-size: 32px;

}
.font-cinzel {
    font-family: 'Cinzel Decorative';
    font-size: 30px;
    color: darkred;
}
p.font-42 {
     font-size: 42px;
     color: darkgoldenrod;
     font-weight: 600;
}
span.font-crazy {
    font-weight: 600;
    font-family: 'Kaushan Script', cursive;
    font-size: 55px;
    /* Llamando un color por su nombre */
    color: darkgreen;
}
h3 {
    font-size: 22px;
}
.espaciado-letras {
    letter-spacing: 1em;
    font-style: italic;
    font-size: 22px;

}
.espaciado-palabras {
    word-spacing: 1em;
    font-family: 'Courier New', Courier, monospace;
    font-size: 22px;

}
.espaciado-lineas {
    line-height: 3em;
    font-style: italic;
    font-size: 22px;

}
@font-face {
    font-family: 'Cinzel Decorative';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/cinzel-decorative-v9-latin-900.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/cinzel-decorative-v9-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/cinzel-decorative-v9-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/cinzel-decorative-v9-latin-900.woff') format('woff'), /* Modern Browsers */
         url('../fonts/cinzel-decorative-v9-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/cinzel-decorative-v9-latin-900.svg#CinzelDecorative') format('svg'); /* Legacy iOS */
  }