*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: cornsilk;
    color: black;
}
.contenedor {
    width: 90%;
    max-width: 1000px;
    margin: 20px auto;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);
}
.contenedor > div,
.contenedor .header,
.contenedor .contenido,
.contenedor .sidebar,
.contenedor .footer {
    background: blanchedalmond;
    padding: 20px;
    border-radius: 4px;
}
.contenedor .header {
    background: rgb(51, 51, 51);
    color: blanchedalmond;
    grid-column-start: 1;
    grid-column-end: -1;
}
.contenedor .contenido {
    grid-area: span 2;
}
.contenedor .sidebar {
    grid-column: 3 / 4;
    background: blueviolet;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

    grid-row: span 2;
}
.contenedor .widget-1,
.contenedor .widget-2 {
    background: cornflowerblue;
    color: cornsilk;
    height: 100px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedor .footer {
    background: chartreuse;
    color: cornsilk;
    grid-column: span 3;
}
