body {
    margin: 0.5em;
}
h1 {
    text-align: center;
    font-family: 'Gloria Hallelujah', cursive;
}
img {
    display: block;
    margin: 0 auto;
}
.img-catalogo {
    margin-bottom: -1.6em;
    display: inline;
}
p {
    font-size: 1.4em;
    text-align: center;
    font-family: 'Gloria Hallelujah', cursive;
    line-height: 1.5em;
    margin-right: 3em;

}
span.font-precio {
    color: darkred;
    font-weight: 900;
    font-family: 'Gloria Hallelujah', cursive;


}
div {
    display: inline-block;
    margin: 25px;
    height: 210px;
    width: 370px;

}
a {
    color: brown;
    text-decoration: none;
}