body {
    margin: 0 0.5em;
}
h1 {
    text-align: center;
    font-size: 3em;
}
h2 {
    padding: 0 1em;
    margin: 1em;
}
.texto-margenes {
    /* Afecta los 4 lados*/
   /*  margin: 3em; */
    /* Afecta los 4 lados individualmente pero lo declaro en una sola linea*/
    /* margin: 4em 8em 2em 3em; */
    /* Afecta los 4 lados declarados en 2 valores */
    /* margin: 1em 8em; */
    /* Declarando los 4 lados de forma explicita individualmente */
 /*   margin-top: 2em;
    margin-right: 3em;
    margin-bottom: 0;
    margin-left: 4em; */
    text-align: justify;
    font-size: 1.5em;
    padding: 1em;
    margin: 1em;
}
.parrafo-borde1 {
    font-size: 1.5em;
    text-align: justify;
    border: 3.5px solid navy;
    padding: 1em;
    border-radius: 10px;
    margin: 2em;

}
.parrafo-borde2 {
    font-size: 1.5em;
    text-align: justify;
    border-top: 3px solid cyan;
    padding: 1em;
    margin: 2.5em;
}
.parrafo-borde3 {
    font-size: 1.5em;
    text-align: justify;
    border-left: 4px dashed rgb(0, 0, 0);
    border-right: 4px solid rgb(0, 0, 0);
    padding: 1em;
    margin: 2em;

}
.parrafo-padding1 {
    margin: 2em;
    font-size: 1.5em;
    text-align: justify;
    border: 3px solid navy;
    padding: 1.5em;
    background-color: teal;
    color: white;
    line-height: 1.3em;
    font-family: Arial, Helvetica, sans-serif;
}
.parrafo-padding2 {
    margin: 2em;
    margin-top: 3.5em;
    font-size: 1.5em;
    text-align: justify;
    border-top: 3px solid crimson;
    padding-top: 1.5em;
    font-family: fantasy;
}
.parrafo-padding3 {
    margin: 2em;
    margin-top: 4em;
    font-size: 1.5em;
    text-align: justify;
    border-left: 3px dashed rgb(76, 0, 255);
    border-right: 3px solid rgb(76, 0, 255);
    padding: 1em;
    font-family: cursive;
}
a {
    color: brown;
    text-decoration: none;
}