h1 {
    font-family: 'Courier New', Courier, monospace;
    color: rgba(0, 4, 255, 0.829);
}
span.titulo-lista {
    font-weight: 900;
    font-size: 1.2em;
    
}
p {
    font-size: 3em;
}
/* cinzel-decorative-900 - latin */
