h1 {
    font-family: 'Dancing Script', cursive;
    color: rgba(0, 0, 0, 0.911);
    font-size: 4em;

}
p {
    font-size: 2.9em;
    color:rgb(0, 0, 0);
    font-family: 'Dancing Script', cursive;
    font-weight: 900;
    margin-top: 62px;

}
body {
    background: url(../img/PLAYA.jpg) no-repeat;
    background-size: cover;
    
}

/* Estilos del Reloj */






