*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Dancing Script', cursive;
    background-image: url(../img/background33.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/* Estilos del Reloj */






