
h1 {
    text-align: center;
    font-family: cursive;
    margin-bottom: 2em;
}
table {
    font-size: 1.6em;
    margin: auto;
    font-family: cursive;
}
td, th {
    padding: 1.1em;
    text-align: center;
    background-color: rgb(130, 255, 130);
    border: 1px solid whitesmoke;
    border-radius: 10px;
    color: rgb(66, 58, 58);
}
td {
    background-color: rgb(233, 165, 165);
}
th.variedades {
    color: rgb(201, 66, 66);
}
div {
    margin-top: 10px;
    border-bottom: 5px solid rgb(0, 0, 0);
    text-align: center;
}
p { 
    text-align: center;
    word-spacing: 4em;
    margin-bottom: 15em;
    font-size: 1.7em;
    color: rgb(0, 0, 0);
    font-family: cursive;
    font-weight: 900;
}
.borde-titulo-hybrid {
    background-color: rgb(221, 253, 36);
}
.borde-titulo-feminizada {
    background-color: rgb(142, 208, 252);
}
.borde-titulo-automatica {
    background-color: rgb(67, 211, 74);
}
.borde-titulo-regular {
    background-color: rgb(184, 97, 255);
}
.borde-titulo-hybrid, .borde-titulo-feminizada,
.borde-titulo-automatica, .borde-titulo-regular {
    border: 1px solid whitesmoke;
}
a {
    text-decoration: none;
    color: brown;
}